h1 {
font-family: "WubbaLubbaDubDub";
font-size: 100px;
color: aqua;
box-shadow: 10px 3px 3px 20px lime;
background: black;
border-radius: 50%;
display: flex;
justify-content: center;
}
@font-face {
    font-family: "WubbaLubbaDubDub";
    src: url("WubbaLubbaDubDub/WubbaLubbaDubDub.ttf");
}

#restartButton {
    display: absolute;
    margin-left: 40%;
    margin-bottom: 10%;
    font-family: "WubbaLubbaDubDub";
    font-size: 50px;
    color: lime;
    background-color: black;
    box-shadow: 3px 3px 3px 3px;
    border-radius: 10px;

}
#restartButton:hover{
    color: black;
    background-color:lime;
    box-shadow: 3px 3px 3px 3px;
}

#gameBoard {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 300px);
    grid-template-rows: repeat(4, 300px);
    grid-gap: 300px;
    margin-left: 5%
}
.image {
    display:absolute;
    width: 150px;
    padding-left: 20%;
    padding-top: 15%
}
.name {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-family: "Space Mono";
    font-size: 20px;
    box-shadow: 0 3px 3px 3px;
    background-color: lime;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.card {
    width: 250px;
    box-shadow: 0 3px 3px 3px;
    background-color: black;
    border-radius: 20px;
}
.front {
    background-position: center;
    overflow: hidden;
    z-index: 1;
    width: 250px;
}
