
#gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(5, 300px);
    grid-gap: 10px;
}
.image {
    display:absolute;
    width: 150px;
    padding-left: 20%;
    padding-top: 15%
}
.name {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-family: "Space Mono";
    font-size: 20px;
    box-shadow: 0 3px 3px 3px;
    background-color: lime;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.card {
    width: 250px;
    box-shadow: 0 3px 3px 3px;
    background-color: black;
    border-radius: 20px;
}