*{
    width: auto;
    height: auto;
}

@media screen and (min-width: 1000px) {
    

body {
    width:auto;
    height:auto;
    background-image: url(space-themed-background-with-galaxies-and-planets-free-photo.jpg)
}

h1 {
font-family: "WubbaLubbaDubDub";
font-size: 100px;
color: aqua;
box-shadow: 10px 3px 3px 20px lime;
background: black;
border-radius: 50%;
display: flex;
justify-content: center;
text-align: center;
}
h2 {
    font-family: "WubbaLubbaDubDub";
    color: aqua;
    display:flex;
    text-align:center;
    justify-content: center;
    font-size: 40px;
}
@font-face {
    font-family: "WubbaLubbaDubDub";
    src: url("WubbaLubbaDubDub/WubbaLubbaDubDub.ttf");
}

.restart {
    display:flex;
    justify-content:center;
}
#restartButton {
    margin-bottom: 2%;
    font-family: "WubbaLubbaDubDub";
    font-size: 50px;
    color: lime;
    background-color: black;
    box-shadow: 3px 3px 3px 3px;
    border-radius: 10px;

}
#restartButton:hover{
    color: black;
    background-color:lime;
    box-shadow: 3px 3px 3px 3px;
    cursor: pointer;
}

#gameBoard {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(4, 225px);
    grid-gap: 10px;
    padding:10px;
}

.card {
    box-shadow: 0 3px 3px 3px;
    background-color: black;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: all .8s ease;
}

.card:hover{
    cursor:pointer;
}

.flipCard {
    transform-style: preserve-3d;
    transition: .5s;
}

.front, .back{
    position: absolute;
    width: 150px;
    height: 225px;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: .5s;
}

.front img{
    width: 150px;
    height: 225px;
    border-radius: 20px;
}

.back{
    background-color: aqua;
    opacity: 0;
}

.back img{
    width: 120px;
    height: 120px;
    display: absolute;
    margin-left: 10%;
    margin-top: 10%;
    border-radius:20px;

}

.back .name{
    background-color: lime;
    font-family: "Space Mono";
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    height: 70px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom: 1px solid black;
}
.playerScore{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;    
}
#player1Container {
    width: 50%;
    display: flex;
    flex-direction: column;
}
#player2Container {
    width: 50%;
    display: flex;
    flex-direction: column;
}
}
@media screen and (max-width: 1000px) {
    

    body {
        width:auto;
        height:auto;
        background-image: url(space-themed-background-with-galaxies-and-planets-free-photo.jpg)
    }
    
    h1 {
    font-family: "WubbaLubbaDubDub";
    font-size: 25px;
    color: aqua;
    box-shadow: 4px 1px 1px 5px lime;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    }
    h2 {
        font-family: "WubbaLubbaDubDub";
        color: aqua;
        display:flex;
        text-align:center;
        justify-content: center;
        font-size: 20px;
    }
    @font-face {
        font-family: "WubbaLubbaDubDub";
        src: url("WubbaLubbaDubDub/WubbaLubbaDubDub.ttf");
    }
    
    .restart {
        display:flex;
        justify-content:center;
    }
    #restartButton {
        margin-bottom: 2%;
        font-family: "WubbaLubbaDubDub";
        font-size: 25px;
        color: lime;
        background-color: black;
        box-shadow: 3px 3px 3px 3px;
        border-radius: 10px;
    
    }
    #restartButton:hover{
        color: black;
        background-color:lime;
        box-shadow: 3px 3px 3px 3px;
        cursor: pointer;
    }
    
    #gameBoard {
        display: grid;
        justify-content: center;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(5, 150px);
        grid-gap: 10px;
        padding:10px;
    }
    
    .card {
        box-shadow: 0 3px 3px 3px;
        background-color: black;
        border-radius: 20px;
       
    }

    .card:hover{
        cursor:pointer;
  
    }
    
    .front, .back{
        position: absolute;
        width: 100px;
        height: 150px;
        border-radius: 20px;
        transform-style: preserve-3d;
        transition: .5s;
    }

    .front img{
        width: 100px;
        height: 150px;
        border-radius: 20px;
    }
    
    .back{
        background-color: aqua;
        opacity: 0;
    }
    .back img{
        width: 75px;
        height: 75px;
        display: absolute;
        margin-left: 12%;
        margin-top: 10%;
        border-radius:20px;
    
    }
    
    .back .name{
        background-color: lime;
        font-family: "Space Mono";
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 8px;
        height: 40px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom: 1px solid black;
    }
   .playerScore{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    margin-right: 50%;
   }
   
    }

    @media screen and (max-width: 500px) {
    

        body {
            width:auto;
            height:auto;
            background-image: url(space-themed-background-with-galaxies-and-planets-free-photo.jpg)
        }
        
        h1 {
        font-family: "WubbaLubbaDubDub";
        font-size: 25px;
        color: aqua;
        box-shadow: 4px 1px 1px 5px lime;
        background: black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        text-align: center;
        }
        h2 {
            font-family: "WubbaLubbaDubDub";
            color: aqua;
            display:flex;
            text-align:center;
            justify-content: center;
            font-size: 15px;
        }
        @font-face {
            font-family: "WubbaLubbaDubDub";
            src: url("WubbaLubbaDubDub/WubbaLubbaDubDub.ttf");
        }
        
        .restart {
            display:flex;
            justify-content:center;
        }
        #restartButton {
            margin-bottom: 2%;
            font-family: "WubbaLubbaDubDub";
            font-size: 15px;
            color: lime;
            background-color: black;
            box-shadow: 3px 3px 3px 3px;
            border-radius: 10px;
        
        }
        #restartButton:hover{
            color: black;
            background-color:lime;
            box-shadow: 3px 3px 3px 3px;
            cursor: pointer;
        }
        
        #gameBoard {
            display: grid;
            justify-content: center;
            width: 100%;
            height: 100%;
            grid-template-columns: repeat(4, 75px);
            grid-template-rows: repeat(5, 100px);
            grid-gap: 10px;
            padding:10px;
        }
        
        .card {
            box-shadow: 0 3px 3px 3px;
            background-color: black;
            border-radius: 20px;
        }
        
        .card:hover{
            cursor:pointer;
        }
        
        .card.is-flipped .back {
            transform: rotateY(180deg)
        }

        .front, .back{
            position: absolute;
            width: 75px;
            height: 100px;
            border-radius: 20px;
            transform-style: preserve-3d;
            transition: .5s;
        }
        
        .front img{
            width: 75px;
            height: 100px;
            border-radius: 20px;
        }
        
        .back{
            background-color: aqua;
            opacity: 0;
            
        }
        
        .back img{
            width: 50px;
            height: 50px;
            display: absolute;
            margin-left: 18%;
            margin-top: 5%;
            border-radius:20px;
        
        }
        
        .back .name{
            background-color: lime;
            font-family: "Space Mono";
            display:flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 6px;
            height: 40px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            border-bottom: 1px solid black;
        }
        .playerScore{
            width: 100%;
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            align-self: center;
            margin-right: 50%;
        }
    }